@use '../abstracts/variables' as *;

/*typography rules*/
html {
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: $yellow;
}

h1 {
	color: $darkbrown;
	text-decoration: underline;
	line-height: 1.6;
	font-size: calc(3 * $defaultem)
}

body {
	font-size: calc($defaultem + 0.25vw);
}

h2 {
	line-height: 1.6;
}

p {
	line-height: 1.5;
}

figcaption {
	line-height: 1.5;
}

footer div {
	line-height: 1.5;
}