/*general rules*/
/*enable alternative box-model via values for box-sizing (padding and border are included in the visible box)*/
html {
	box-sizing: border-box;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #FBFBA7;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*header rules*/
header {
	margin: 3rem 0 3rem 0;
	text-align: center;
}

h1 {
	color: #461212;
	text-decoration: underline;
	line-height: 1.6;
	font-size: 2.5em;
	display: inline-block;
    vertical-align: middle;
}

header img {
	display: inline-block;
    vertical-align: middle;
	margin: 0 1.5em 0 0;
}

/*body rules*/
/*percentages in the gradient-function specify the starting point of the color with 0% being the top of the website*/
body {
	background-color: #00611B;
	background-image: linear-gradient(#32CD31, #00611B 12%, #8B2323 48%);
	font-size: calc(1em + 0.25vw);
}

h2 {
	line-height: 1.6;
	margin: 0 0 1rem 2.5rem;
}

p {
	line-height: 1.5;
	margin: 0 2.5rem 1.3rem 3.5rem;
}

/*images are never larger than their container*/
img {
	max-width: 100%;
	height: auto;
}

figcaption {
	line-height: 1.5;
}

ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

/*link rules*/
a:link {
	color: #2EFFFF;
}

a:visited {
	color: #FFE0FF;
}

a:active {
	color: #FFE0E0;
}

a:focus {
	outline-color: #2EFFFF;
}

/*table rules*/
/*
table-layout: fixed -> table behaves more predictably, columns follow width of their headings
border-collapse: collapse -> borders collapse into one
*/
table {
	table-layout: fixed;
	border-collapse: collapse;
}

caption {
	margin: 6px;
}

th, td {
	text-align: left;
    	line-height: 1;
	font-size: calc(0.75em + 0.25vw);
	overflow-wrap: break-word;
    	padding: 0.25em 0.5em 0.5em 0.5em;
}

/*enable zebra striping for better visibility*/
tbody tr:nth-child(even) {
	background-color: rgb(0, 97, 27, 0.4);
}

tbody tr:nth-child(odd) {
	background-color: rgb(70, 18, 18, 0.4);
}

thead {
	background-color: rgb(0, 97, 27, 0.4);
}

/*footer-rules*/

footer {
	margin: 2.5rem 0 2.5rem 0;
}

footer div {
	line-height: 1.5;
	margin: 0 2.5rem 1.3rem 3.5rem;
}

/*media rules responsive design*/
@media screen and (max-width: 1060px) {
	/*enable horizontal scrolling for tables*/
	.fig-table {
		max-width: 100%; 
		overflow-x: scroll;
	}
}

@media screen and (min-width: 1061px) {
	article {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(608px, 1fr));
	}

	.fig-table {
		grid-column: 1 / span 2;
	}

	figure img {
		margin-top: 40px;
	}

	/* table fills any container its put in*/
	table {
		width: 100%;
	}

	footer {
		display: grid;
		grid-template-columns: 150px 1fr 1fr;
	}
}